.wrap-form{
    padding-top: 5%;
   background-color: rgb(243, 235, 236);
    display: flex;
    flex-direction: column;
    height:600px;
    flex-wrap: wrap;
    align-items: center;
}

.wrap-form-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
  background-color: blueviolet;
  color: black;
}

.wrap-form-content label{
   display: flex;
    text-align: center;
    width: 80%;
    color: black;
}

.wrap-form-content input{
   height: 30px;
   width: 80%;
   
   text-align: left;
}
.button-creatproduct{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    border: none;
    width: 250px;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}

h5{
  color: blueviolet;
  width: 250px;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wrap-form a{
    width: 250px;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

@media only screen and (max-width:480px){
    .wrap-form{
      width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        height: 700px;
        margin: 0;
    }
    
    .wrap-form-content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 0;
    }
    
    .wrap-form-content label{
        width: 100%;
        text-align: left;
        margin: 0;
    }
    
    .wrap-form-content input{
       height: 30px;
       width: 90%;
       margin-left: 0;
    }


}